.dark-decorate {
  display: none;
}

.ellipse {
  display: none;
}

:root.theme-light {
  --page-image: url(../images/cover-image-light.png);
  --page-font: 'IBM Plex Mono';

  --title-color: #ffc2e6;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-line-height: 95.7px;

  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --main-size: 18px;
  --main-line-height: 23.4px;

  --accent-color: #ff8dcb;
  --accent-color-text: #353430;
  --main-color-text: #353430;
  --hover-border: #32312D66;
  --color-border: #353430;
  --color-header: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-image: url(../images/cover-image-light.png);
    --page-font: 'IBM Plex Mono';
  
    --title-color: #ffc2e6;
    --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --title-line-height: 95.7px;
  
    --font-weight-bold: bold;
    --font-weight-normal: normal;
    --main-size: 18px;
    --main-line-height: 23.4px;
  
    --accent-color: #ff8dcb;
    --accent-color-text: #353430;
    --main-color-text: #353430;
    --hover-border: #32312D66;
    --color-border: #353430;
    --color-header: #353430;
  }
}