.page {
  background-image: var(--page-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--main-size);
}

/* Шапка */

.header {
  block-size: 100dvb;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

/* Псевдоэлементы шапки */

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-header);
  border-bottom: none;
  border-left: none;
  position: absolute;
  top: 10px;
  right: 1px;
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-header);
  border-top: none;
  border-right: none;
  position: absolute;
  bottom: 10px;
}


.decorated-zone .dark-decorate::before {
  content: 'rec';
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: var(--main-size);
  position: absolute;
  top: -8px;
  right: 19px;
}

.decorated-zone .ellipse {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 18px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  position: absolute;
  top: 18px;
  right: 9px;
}

/*Меню шапки*/

.header__theme-menu {
  font-size: var(--main-size);
  font-weight: var(--font-weight-normal);
  color: var(--color-header);
  margin-block-start: 0.4em;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.header__theme-menu-button {
  background-color: inherit;
  border: 0;
  text-transform: lowercase;
  inline-size: 69px;
  block-size: 24px;
  text-align: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-border);
}

/*заголовок шапки*/

.header__title {
  font-size: var(--title-size);
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  line-height: var(--title-line-height);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/*Текст шапки*/

.header__text {
  line-height: var(--main-line-height);
  font-weight: var(--font-weight-bold);
  font-size: var(--main-size);
  white-space: pre-line;
  margin-block-end: 2vh;
}

/* Секция focus  */

.focus {
  margin-block-start: 40px;
}

.concentration-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.concentration-list__item-title {
  color: var(--accent-color);
  font-size: var(--main-size);
  font-weight: var(--font-weight-bold);
}

.list__item {
  display: grid;
  gap: 10px;
}

.list__item-card {
  display: grid;
  gap: 10px
}

/* Секция concentration-better */

.concentration-better {
  display: grid;
  gap: 20px;
  margin-block-start: 50px;
}

.concentration-list-better {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Секция concentration */

.concentration {
  margin-block-start: 50px;
}

.item-title-lighter {
  font-size: var(--main-size);
  font-weight: var(--font-weight-normal);
}

.subtitle {
  margin-block-end: 11px;
}

/* Секция gallery */

.gallery {
  margin-block-start: 50px;
  display: grid;
  gap: 10px;
}

.gallery-box {
  display: grid;
  gap: 10px;
}

.gallery__item {
  margin: 0;
}

.gallery__image {
  inline-size: 100%;
  min-block-size: 100%;
  vertical-align: top;
  object-fit: cover;
}

/* Секция footer */

.footer {
  margin-block-start: 40px;
  block-size: 100dvb;
  min-block-size: 668px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: var(--title-size);
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  line-height: var(--title-line-height);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* @media (width >= 768px) */

@media (width >= 768px) {
  .header {
    margin-inline-start: 2px;
    grid-template-columns: 1fr 374px;
    grid-template-rows: 1fr min-content 1fr;
  }

  .decorated-zone::before {
    top: 20px;
    right: 11px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 18px;
  }

  .decorated-zone .ellipse {
    top: 28px;
    right: 18px;
  }

  .header__theme-menu {
    grid-column-start: 2;
    margin-inline-end: 0.6em;
    margin-block-start: 0.8em;
  }

  .header__title {
    grid-column: span 2;
  }

  .header__text {
    inline-size: 364px;
    grid-column-start: 2;
  }

  .main {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }

  .focus {
    margin-block-start: 60px;
  }

  .concentration-list {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: min-content 1fr;
  }

  .concentration-list__item-title {
    inline-size: 236px;
  }

  .list__item-card {
    grid-column-start: 2;
  }

  .concentration-better {
    margin-block-start: 80px;
  }

  .concentration-list-better {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: min-content 1fr;
  }

  .list__item {
    grid-column: span 2;
  }

  .concentration {
    margin-block-start: 80px;
  }

  .subtitle {
    block-size: 23px;
  }

  .gallery {
    margin-block-start: 80px;
    gap: 20px;
  }

  .gallery-box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    block-size: 94.76%;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    margin-block-start: 60px;
    margin-inline-start: 5px;
  }
}



@media (width >= 1024px) {
  .header {
    margin-inline-start: 2px;
    grid-template-columns: 1fr 501px;
    grid-template-rows: 1fr min-content 1fr;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    grid-column: span 2;
    margin-block-start: 1em;
    margin-inline-start: 1.5em;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 24px;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--hover-border);
  }

  .header__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  .header__text {
    inline-size: 491px;
    margin-block-start: 0.7em;
  }

  .concentration-list {
    grid-template-columns: 315px auto;
    align-items: start;
  }

  .concentration-list__item-title {
    inline-size: 315px
  }

  .concentration-list-better {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .list__item {
    inline-size: 33%;
  }

  .footer-title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}
