:root {
  --page-image: url(../images/cover-image-dark.png);
  --page-font: 'IBM Plex Mono';
  --page-color: #000028;

  --title-color: #db00ff;
  --title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-size-dekstop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-line-height: 95.7px;

  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --main-size: 18px;
  --main-line-height: 23.4px;

  --accent-color: #ff0070;
  --accent-color-text: #000028;
  --main-color-text: #f1b2ce;
  --hover-border: #ff007066;
  --color-border: #ff0070;;
  --color-header: #ff0070;
  --footer-shadow: #ff0070;
  --main-color-title: #ff0070;

  --display: initial;
}